---
import Layout from "../layouts/Layout.astro";
import { qnaList } from "./questions.js";
import "./styles.css";
---

<Layout title="Welcome to Astro.">
  <form class="questions">
    {
      qnaList.map((qna, i) => {
        return (
          <div>
            <p>{qna.question}</p>
            {qna.answers.map((answer, i) => {
              return (
                <div class="container">
                  <input type="radio" class="answer" />
                  <label>{answer}</label>
                </div>
              );
            })}
          </div>
        );
      })
    }
  </form>
</Layout>
