---
import Layout from "../layouts/Layout.astro";
import { qnaList } from "./questions.js";
import "./styles.css";
import "@fontsource/poppins";
import { Image } from "astro:assets";
import roamer from "../assets/Roamer.png";
---

<Layout title="Roamer">
  <Image src={roamer} alt="roamer logo" class="logo" />
  <h1>Welcome to Roamer!</h1>
  <h2>Complete the survey below to find out your next dream vacation!</h2>
  <form class="questions">
    {
      qnaList.map((qna, i) => {
        return (
          <div>
            <p>{qna.question}</p>
            {qna.answers.map((answer, i) => {
              return (
                <div class="container">
                  <input type="radio" class="answer" />
                  <label>{answer}</label>
                </div>
              );
            })}
          </div>
        );
      })
    }
    <input type="submit" />
  </form>
</Layout>
